@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.DayPicker-Caption {
    display: table-caption;
    margin-bottom: 0.5em;
    padding: 0 0.5em;
    text-align: left;
    color: black;
  }
  
  .DayPicker-Caption > div {
    font-weight: 500;
    font-size: 1.15em;
    color: black;
  }

  .DayPicker-Day {
    display: table-cell;
    padding: 0.5em;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: black;
  }

  div.DayPickerInput input {
    @extend .form-control;
  }
